= form_for(@converted_graph) do |f|
  - if @converted_graph.errors.any?
    #error_explanation
      %h2
        = pluralize(@converted_graph.errors.count, "error")
        prohibited this converted_graph from being saved:
      %ul
        - @converted_graph.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
