%h1 Listing converted_graphs
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @converted_graphs.each do |converted_graph|
      %tr
        %td= link_to 'Show', converted_graph
        %td= link_to 'Edit', edit_converted_graph_path(converted_graph)
        %td= link_to 'Destroy', converted_graph, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Converted graph', new_converted_graph_path
