<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @query_table.query_id %>
</p>

<%= link_to 'Edit', edit_query_table_path(@query_table) %> |
<%= link_to 'Back', query_tables_path %>
