- graph_headers = Graph.find(widget.id).as_json('kpis')[:kpis]

.graph-headers
  - ChartPresenter.kpi_list.each do |graph_header|
    %div.checkbox-group
      %input.graph-header-input{type: 'checkbox',
                                value: graph_header,
                                checked: graph_headers.include?(graph_header),
                                id: "input-#{graph_header}"}
      %label.graph-header-label{for: "input-#{graph_header}"}
        = graph_header
