- kpis = Graph.find(widget.id).kpis

.graph-headers
  - ChartPresenter.kpi_list.each do |kpi|
    %div.checkbox-group
      %input.graph-header-input{type: 'checkbox',
                                value: kpi,
                                checked: kpis.include?(kpi),
                                id: "input-#{kpi}"}
      %label.graph-header-label{for: "input-#{kpi}"}
        = kpi
