- graph_headers = (!graph_headers.nil?) ? graph_headers : ['header1', 'header2', 'header3']
- unless graph_headers.empty?
  %span Graph Headers

.graph-headers
- graph_headers.each do |graph_header|
  %input.graph-header{type: 'checkbox', value: graph_header}= graph_header
