= form_for(@imported_graph) do |f|
  - if @imported_graph.errors.any?
    #error_explanation
      %h2
        = pluralize(@imported_graph.errors.count, "error")
        prohibited this imported_graph from being saved:
      %ul
        - @imported_graph.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
