.gridster.push
  %ul.grid{id: "page"}
    - widgets.sort { |w| w[:column] }.each_with_index do |w, i|
      / assumes all widgets have column == 1
      %li.grid-item{id: "widget-#{w.id}",
                    "data-col" => w[:column] || i,
                    "data-row" => w[:row] || 1,
                    "data-sizex" => w[:width],
                    "data-sizey" => w[:height]}
        = render partial: 'widgets/widget', object: w
