.gridster
  %ul.grid
    - @widgets.each_with_index do |w, i|
      %li.grid-item{"data-col" => w[:col],
                    "data-row" => w[:row],
                    "data-sizex" => w[:width],
                    "data-sizey" => w[:height]}
        = render partial: 'widgets/widget', locals: { index: i }
