.gridster
  %ul.grid{id: "page-#{page}"}
    - filtered_widgets.sort { |w| w[:column] }.each_with_index do |w, i|
      %li.grid-item{id: "widget-#{w.id}",
                    # assumes all widgets have column == 1
                    "data-col" => w[:column] || i,
                    "data-row" => w[:row] || 1,
                    "data-sizex" => w[:width],
                    "data-sizey" => w[:height]}
        = render partial: 'widgets/widget', object: w
