.gridster
  %ul
    - @widgets.each_with_index do |w, i|
      %li.grid-object{"data-col" => w[:col], "data-row" => w[:row], "data-sizex" => w[:x], "data-sizey" => w[:y]}
        = render partial: 'widgets/widget', locals: { index: i }
