%nav#menu.modal-panel{role: 'navigation'}
  %span.navbar-brand Add Widgets
  %a.btn.btn-default.navbar-btn.new{widget_type: "Graph", widget_name: "Top 5 Imported Volume", widget_brand_id: "2", widget_start_time: "2014-06-15 00:00:00", widget_end_time: "2014-06-22 00:00:00", widget_providers: "'t3uk', 'purpleuk', 'milarco', 'moneytipuk', 'logicaladsuk'",widget_kpis: "total_imported", widget_query_id: 4}
    %img{src:"/assets/graph.png", height: 22}
    Total Imported
  %a.btn.btn-default.navbar-btn.new{widget_type: "Graph", widget_name: "Top 5 Sent Volume", widget_brand_id: "2", widget_start_time: "2014-06-15 00:00:00", widget_end_time: "2014-06-22 00:00:00", widget_providers: "'t3uk', 'purpleuk', 'milarco', 'moneytipuk', 'logicaladsuk'",widget_kpis: "total_sent", widget_query_id: 4}
    %img{src:"/assets/graph.png", height: 22}
    Total Sent
  %a.btn.btn-default.navbar-btn.new{widget_type: "Table", widget_name: "Pitch Main Performance", widget_brand_id: "2", widget_start_time: "2014-06-15 00:00:00", widget_end_time: "2014-06-22 00:00:00", widget_providers: "'t3uk', 'purpleuk', 'milarco', 'moneytipuk', 'logicaladsuk'", widget_query_id: 4}
    %img{src:"/assets/table.png", height: 22}


