%nav#menu.modal-panel{role: 'navigation'}
  %span.navbar-brand Add Widgets
  - widget_types = Widget.descendants.map { |klass| klass.to_s }.sort
  - widget_types.each do |widget_type|
    %a.btn.btn-default.navbar-btn.new{widget_type: widget_type}
      %img{src:"/assets/#{widget_type.underscore}.png", height: 22}
