%nav.navbar.navbar-default{role: "navigation"}
  .navbar-header
    = link_to "Conduit", root_path, class: "navbar-brand"
  .navbar-right
    - if(current_user)
      #{current_user.login}
      = link_to 'Log Out' , destroy_user_session_path , :method => 'delete' , :id => 'Log Out', :class => 'btn btn-default navbar-btn'
    - else
      = link_to 'Sign in', new_user_session_path, :class => 'btn btn-default navbar-btn'
