.fullpage
  - Widget.last_page.times do |page|
    .section{id: "page-#{page+1}"}
      .actions
        - Widget.descendants.each do |desc|
          = link_to image_tag("#{desc.to_s.underscore}.png", height: '22'), widgets_path(widget: { page: page+1, type: desc.to_s }), class: "btn btn-default navbar-btn new", method: :post, remote: true
      = render partial: 'partials/grid', locals: {page: page+1, filtered_widgets: @widgets.where(page: page+1)}

%nav#menu.panel{role: 'navigation'}
  %h1 this is a modal
  %ul
    %li 1
    %li 2
    %li 3
    %li 4
