.widgets
  - @widgets.each do |widget|
    .widget.panel.panel-default
      .panel-heading
        %h3.panel-title= widget[:name]
      .panel-body
        .chart
          Panel content
        %ul.actions
          %li.action
            %button.save Save

