.chart{ :id => "chart-#{chart[:id]}" }
:javascript
  var id = "#{chart[:id]}";
  var name = "#chart-" + id;
  var chart = getChartData(id)
  if(chart.filter === "qq_leads_funnel") {
    charts[name] = renderQQLeadsFunnelChart(chart);
  }
  else if(chart.filter === "bar_line") {
    charts[name] = renderBarLineChart(chart);
  }
  else if(chart.filter === "single_provider") {
    charts[name] = renderSingleProviderChart(chart);
  }
  else {
    charts[name] = renderChart(chart);
  }

