.widget.panel.panel-default
  .panel-heading
    %h3.panel-title= table[:name]
  .panel-body
    %table.display.tables{ id: "table-#{table[:id]}", cellspacing: '0', width: '100%' }
      %thead
        %tr
          %th
      %tbody
        %tr
          %td
      %tfoot
        %tr
          %th
    %ul.actions
      %li.action
        = link_to "Edit", edit_widget_path(table), class: "btn btn-default save"
      %li.action
