.widget.panel.panel-default
  .panel-heading
    %h3.panel-title= widget[:name]
  .panel-body
    .chart{ :id => "chart-#{widget[:id]}" }

      Panel content
    %ul.actions
      %li.action
        = link_to "Edit", edit_widget_path(widget), class: "btn btn-default save"
      %li.action

