.widget.panel.panel-default
  .panel-heading
    %h3.panel-title= @widgets[index][:name]
  .panel-body
    .chart{ :id => "chart-#{@widgets[index][:id]}" }
      Panel content
    %ul.actions
      %li.action
        %button.save Edit
      %li.action

