.widget.panel.panel-default
  .panel-heading
    %h3.panel-title.widget-title= widget[:name]
    %a.btn.btn-default.widget-settings-toggle $$$
  .panel-body
    - if widget.class == Table
      = render partial: 'widgets/table', object: widget
    - else
      = render partial: 'widgets/chart', object: widget
  .panel-settings
    = render partial: 'widgets/settings', locals: {widget: widget}
