<%= form_for(@sent_graph) do |f| %>
  <% if @sent_graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sent_graph.errors.count, "error") %> prohibited this sent_graph from being saved:</h2>

      <ul>
      <% @sent_graph.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
