= form_for(@sent_graph) do |f|
  - if @sent_graph.errors.any?
    #error_explanation
      %h2
        = pluralize(@sent_graph.errors.count, "error")
        prohibited this sent_graph from being saved:
      %ul
        - @sent_graph.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
