.dataTables_filter {
  label {
    input {
      width: 100px;
      margin-right: 10px;
      border-style: none;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }
}

.dataTables_info {
  font-size: 10px;
}

.dataTables_paginate {
  font-size: 10px;
}

table.dataTable {
  font-size: 10px;
}
