.dataTables_filter {
  label {
    input {
      width: 100px;
      margin-right: 10px;
      border-style: none;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }
}

.dataTables_info, .dataTables_paginate {
  font-size: 10px;
}

table.dataTable {
  font-size: 10px;
}

.dataTables_length, .dataTables_info {
  padding-left: 5px;
}

.dataTables_filter {
  label {
    input {
      padding: 0;
    }
  }
}

div.ColVis {
  margin-bottom: 0;

  button {
    height:20px;
    font-size: 10px;
    padding: 0 5px 0 5px;
  }
}

table.dataTable {
  margin-top: 0 !important;
}

table.dataTable {
  tbody {
    tr {
      td {
        padding: 0 0 0 5px;
      }
    }
  }
}
