.gridster {
  background-color: none;

  .grid {
    list-style-type: none;
  }

  .preview-holder {
    background-color: #ddd;
    border-radius: 5px;
  }
}
.panel {
  height: 100%;
}
.panel-body {
  height: 100%;
  overflow: hidden;
}
.container-fluid > .actions {
  margin-bottom: 10px;
}
