.gridster {
  background-color: none;

  .grid {
    list-style-type: none;
  }

  .preview-holder {
    background-color: #ddd;
    border-radius: 5px;
  }
}

.container-fluid > .actions {
  margin-bottom: 10px;
}
