.navbar-right {
  padding-right: 15px;
}

nav {
  position: fixed;
}

.navbar-conduit {
  z-index: 100;
  border-radius: 0px;
  border: none;
  border-bottom: solid;
  margin-bottom: 0px;
  padding-top: 2px;

  .navbar-right {
    .btn {
      padding: 6px;
    }
  }
}
