.navbar-right {
  padding-right: 15px;
}

nav {
  position: fixed;
}

.navbar-conduit {
  z-index: 100;
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  padding-top: 2px;

  .navbar-right {
    .btn {
      padding: 6px;
    }
  }
}

.navbar-brand {
  margin-left: 10px;
}

.menu-link {
  position: fixed;
  font-size: 32px;
  color: #fff;
  top: 1px;
  margin-left: -12px;

  a {
    &:hover {
      color: #fff;
    }
  }
}
