.admin-panel {
  width: 45%;
  float: left;
  padding: 0 5%;

  .panel-body {
    padding: 10px 10px 5px 10px;

    .form-group {
      label {
        font-weight: bold;
      }

      margin-bottom: 10px;

      &:not(.select-box) {
        padding-top: 10px;
        padding-bottom: 0;
      }

      &.select-box {
        margin-top: -10px;
      }
    }
  }
}
