.admin-panel {
  width: 45%;
  float: left;
  padding: 0 5%;

  .panel-body {
    padding: 20px 10px 5px 10px;

    .form-group {
      label {
        font-weight: bold;
      }
      padding-bottom: 5px;
    }
  }
}
