// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.widgets {
  margin-top: 20px;
}

.actions {
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.widget-title {
  display: inline;
}

.widget-settings-toggle {
  display: inline;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 4px;
  margin-top: 4px;
  padding: 5px 0 0 0;
  height: 35px;
}

.panel-settings {
  display: none;
}

.settings {
  .btn {
    width: 50px;
    height: 35px;
    padding: 5px 0 0 0;
  }

  .form-control {
    width: 50px;
  }
}
