// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.widgets {
  margin-top: 20px;
}

.actions {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 10px;
  right: 10px;
  list-style: none;

  .action {
    display: block;
    float: right;
    margin-left: 10px;
  }

  .btn {
    height: 35px;
    padding: 5px;
  }
}

.widget-title {
  display: inline;
}

.panel-default > .panel-heading {
  height: 42px;
}

.panel-heading > .btn {
  display: inline;
  height: 35px;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 4px;
  margin-top: 4px;
  padding: 5px;
}

.panel {
  height: 100%;
  overflow: hidden;
}

.panel-body {
  overflow: hidden;
  padding: 5px 0 5px 0;
}

.panel-heading {
  z-index: -1;
}

.panel-subtitle {
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
}

.panel-settings {
  display: none;
}

.settings {
  padding: 10px;

  .widget-page-selector {
    width: 50px;
  }

  label {
    width: 100px;
    text-align: right;
  }

  input {
    padding: 0;
    font-size: 9pt;
  }
}

.graph-headers {
  font-size: 12px;
}

.panel-settings .form-group {
  margin-bottom: 0px;
}
