// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.widgets {
  margin-top: 20px;
}

.actions {
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.widget-title {
  display: inline;
}

.widget-settings-toggle {
  display: inline;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 4px;
  margin-top: 4px;
  padding: 5px 0 0 0;
  height: 35px;
}

.panel {
  height: 100%;
  overflow: hidden;
}

.panel-body {
  height: 100%;
  overflow: hidden;
  padding: 5px 0 5px 0;
}

.panel-heading {
  z-index: -1;
}

.panel-settings {
  display: none;
  height: 100%;
}

.settings {
  padding: 10px;

  .btn {
    width: 50px;
    height: 35px;
    padding: 5px 0 0 0;
  }

  .edit-widget-btn { 
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .widget-page-selector {
    width: 50px;
  }

  label {
    width: 100px;
    text-align: right;
  }

  input {
    padding: 0;
    font-size: 9pt;
  }
}
